section.blog {
  
  .site-main {
    margin: 0 auto;
    max-width: 1500px;
  }
  
  .blog-post {
    
    small > a {
      color: orangered;
    }
    
    h2 > a {
      color: inherit;
    }
  }
}
