section.portfolio {
  margin: 0 auto !important;
  max-width: 1100px;
  
  > div {
    margin-bottom: 3rem;
    
    &:nth-child(even) {
      
      > .row {
        flex-direction: row-reverse;
      }
    }
  }
  
  a,
  a:link,
  a:visited {
    background: #252934;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px #000;
    color: #fff;
    text-shadow: 0 1px 1px rgba(256, 256, 256, .9);
    transition: background .5s;
    width: 100%;
    
    &:hover,
    &:active,
    &:focus {
      background: #E31B6D;
    }
  }
  
  h2 {
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .9);
  }
  
  ul {
    a,
    a:link,
    a:visited {
      background: transparent;
      border: none;
      box-shadow: none;
      color: #4a4a4a;
      text-shadow: none;
      transition: none;
      width: auto;
      
      &:hover,
      &:focus,
      &:active {
        background: transparent;
      }
    }
  }
}
