/****************
** GENERAL CSS **
****************/
body {
  background: #eee;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif !important;
  font-size: 16px;
  margin: 0;
  padding: 0; }
  body .container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  body .row {
    margin: 0 !important; }
  body .company-container {
    background: #fff; }
  body .links-background {
    color: orangered !important; }

/************
** IMPORTS **
************/
/*******************
** NAVIGATION BAR **
*******************/
.navbar {
  background: #fdfdfd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99; }
  .navbar .navbar__mobile-container {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .navbar .navbar__logo-container__logo {
    font-size: 1.25rem; }
  .navbar .navbar__hamburger-container {
    display: flex;
    justify-content: flex-end; }
  .navbar .fa-bars {
    font-size: 30px; }
  .navbar .navbar__links-container {
    list-style: none;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: height .5s, margin .5s; }
  .navbar .navbar__links-container__item {
    margin: 0 0 2rem 0;
    opacity: 0;
    padding: 0;
    position: relative;
    left: -44px;
    transition: left .5s, opacity .5s; }
  .navbar .navbar__links-container--open {
    height: 168px;
    margin: 2rem 0 0 0; }
  .navbar .navbar__links-container__item--show {
    left: 0;
    opacity: 1; }

#home-about-section header,
#home-portfolio-section header,
#home-blog-section header,
#home-contact-section header {
  justify-content: center; }

/*****************
** HERO SECTION **
*****************/
#home-hero-section {
  background: rgba(63, 70, 90, 0.8);
  color: #fff;
  height: 70vh; }
  #home-hero-section .hero-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 40px 10px 20px; }
    #home-hero-section .hero-header h1,
    #home-hero-section .hero-header p {
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
    #home-hero-section .hero-header p {
      font-size: 1.25rem;
      font-weight: 300; }
  #home-hero-section .hero-button {
    background: transparent;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    color: #fff;
    display: inline-block;
    margin-top: 2em;
    padding: 1em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    transition: background .5s, border .5s, color .5s;
    width: 100%;
    max-width: 400px; }
    #home-hero-section .hero-button:hover {
      background: #E31B6D; }
  #home-hero-section a.hero-button,
  #home-hero-section a.hero-button:link,
  #home-hero-section a.hero-button:visited,
  #home-hero-section a.hero-button:active {
    /*color: #4a4a4a !important;*/ }

/********************
** COMPANY SECTION **
********************/
.company-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto; }

/***************
** WHAT I DO **
***************/
.home-about.row {
  color: #4a4a4a; }
  .home-about.row > div:nth-child(even) > div {
    flex-direction: row-reverse; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .home-about.row > div:nth-child(even) > div > div:last-child {
        padding-left: 50px; } }
  .home-about.row > div > div > div:first-child {
    display: flex;
    align-items: center; }
  .home-about.row > div > div > div:last-child {
    max-width: 400px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .home-about.row > div > div > div:last-child {
        max-width: 100%; } }
  .home-about.row h2 {
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
    @media screen and (min-width: 768px) {
      .home-about.row h2 {
        text-align: left; } }
  .home-about.row hr {
    width: 280px; }
  .home-about.row p {
    padding: 0 10px;
    text-align: left; }
    @media screen and (min-width: 768px) {
      .home-about.row p {
        padding: 0; } }
  .home-about.row ul {
    margin-left: 0;
    padding: 0 10px;
    text-align: left; }
    .home-about.row ul li {
      margin-bottom: .5rem; }

/************
** CONTACT **
************/
#home-contact-section {
  color: #4a4a4a; }
  #home-contact-section h2 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
  #home-contact-section input,
  #home-contact-section textarea {
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: #4a4a4a;
    font-family: 'Raleway', sans-serif !important;
    width: 100%;
    max-width: 100%; }
  #home-contact-section #contact-button {
    background: #252934;
    color: #fff;
    font-size: 1.25em; }
    #home-contact-section #contact-button:hover {
      background: #E31B6D; }

/**********
** MODAL **
**********/
.modal .close {
  background: #000;
  color: #f2f2f2;
  padding: 10px;
  position: absolute;
  right: 15px; }
.modal .view-site {
  background: #252934;
  border-radius: 50px;
  color: #f2f2f2;
  transition: background .25s;
  width: 50%; }
  .modal .view-site:hover {
    background: #E31B6D; }

section.about > div > div {
  margin: 0 auto !important;
  max-width: 1200px; }
  section.about > div > div > div:last-child {
    display: flex;
    align-items: center;
    letter-spacing: 1.75px; }

section.portfolio {
  margin: 0 auto !important;
  max-width: 1100px; }
  section.portfolio > div {
    margin-bottom: 3rem; }
    section.portfolio > div:nth-child(even) > .row {
      flex-direction: row-reverse; }
  section.portfolio a,
  section.portfolio a:link,
  section.portfolio a:visited {
    background: #252934;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 5px #000;
    color: #fff;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    transition: background .5s;
    width: 100%; }
    section.portfolio a:hover, section.portfolio a:active, section.portfolio a:focus,
    section.portfolio a:link:hover,
    section.portfolio a:link:active,
    section.portfolio a:link:focus,
    section.portfolio a:visited:hover,
    section.portfolio a:visited:active,
    section.portfolio a:visited:focus {
      background: #E31B6D; }
  section.portfolio h2 {
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9); }
  section.portfolio ul a,
  section.portfolio ul a:link,
  section.portfolio ul a:visited {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #4a4a4a;
    text-shadow: none;
    transition: none;
    width: auto; }
    section.portfolio ul a:hover, section.portfolio ul a:focus, section.portfolio ul a:active,
    section.portfolio ul a:link:hover,
    section.portfolio ul a:link:focus,
    section.portfolio ul a:link:active,
    section.portfolio ul a:visited:hover,
    section.portfolio ul a:visited:focus,
    section.portfolio ul a:visited:active {
      background: transparent; }

section.blog .site-main {
  margin: 0 auto;
  max-width: 1500px; }
section.blog .blog-post small > a {
  color: orangered; }
section.blog .blog-post h2 > a {
  color: inherit; }

main.single-post {
  background: #fdfdfd; }
  main.single-post div.row {
    background: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.25rem;
    margin: 0 auto 3rem !important;
    max-width: 1000px; }
    main.single-post div.row .syntaxhighlighter {
      font-size: 1rem !important; }

div.comments-area {
  background: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto 3rem;
  padding: 10px;
  max-width: 800px; }
  div.comments-area > ol {
    margin: 0;
    padding: 0; }
    div.comments-area > ol .comment-body {
      margin-bottom: 1.5rem; }
  div.comments-area li.comment {
    background: #ddd; }
  div.comments-area .comment-meta {
    color: #fff; }
  div.comments-area b {
    letter-spacing: 1.1px; }
  div.comments-area a {
    color: #fff !important; }
  div.comments-area .comment-content {
    padding: 10px; }
    div.comments-area .comment-content p {
      font-size: 1.25rem;
      font-weight: 300; }
  div.comments-area .reply {
    padding: 0 10px; }
    div.comments-area .reply .comment-reply-link {
      color: orangered !important; }
  div.comments-area time {
    margin-right: 1.5rem; }
  div.comments-area ol.children {
    padding-left: 0; }
  div.comments-area p.logged-in-as > a {
    color: orangered !important; }

div.blog-sidebar .widget_categories ul {
  list-style-type: none;
  margin-left: 0; }
div.blog-sidebar .widget_recent_entries ul {
  list-style-type: none;
  margin-left: 0; }

.page-id-222 nav {
  display: none; }
.page-id-222 #home-contact-section header,
.page-id-222 #home-contact-section .row.text-center {
  display: none; }

/***********
** FOOTER **
***********/
footer {
  background: linear-gradient(135deg, #252934 0%, #3f465a 100%);
  margin-right: 0 !important;
  margin-left: 0 !important; }
  footer #footer-social-icons {
    display: flex;
    justify-content: space-between; }
  footer .fa-twitter {
    color: #f2f2f2;
    cursor: pointer;
    position: relative;
    top: 8px;
    transform: scale(2);
    transition: color .25s; }
    footer .fa-twitter:hover {
      color: #1DA1F2; }
  footer .fa-github {
    color: #f2f2f2;
    cursor: pointer;
    position: relative;
    top: 8px;
    transform: scale(2);
    transition: color .25s; }
    footer .fa-github:hover {
      color: #24292E; }
  footer .fa-linkedin {
    color: #f2f2f2;
    cursor: pointer;
    position: relative;
    top: 8px;
    transform: scale(2);
    transition: color .25s; }
    footer .fa-linkedin:hover {
      color: #0077B5; }

/*# sourceMappingURL=custom.css.map */
